@import "structure/structure.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css";

::-webkit-scrollbar {
  width: 12px;
  background: #343434;
}

::-webkit-scrollbar-thumb:hover {
  width: 24px;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
  border: 1px solid rgb(0, 255, 255, 0.6);
  border-radius: 18px;
  box-shadow: inset 0 0 2px 1px #bbbbbe;
}

body {
  background-color: #1b262c;
  color: white;
}

.main {
  margin-left: 200px;
  margin-bottom: 24px;
}

@media screen and (max-width: 450px) {
  .main {
    margin-left: 8px;
  }
}

footer {
  border-top: 1px solid #cccccc;
  padding-top: 4px;
  font-size: 20px;
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  margin-left: 200px;
  width: 100%;
  background-color: 152a38;
}
.footer-text {
  text-align: center;
  margin-right: 200px;
}

@media screen and (max-width: 450px) {
  footer {
    margin-left: 0;
  }
  .footer-text {
    margin-right: 0;
  }
}

i.fas.fa,
.fa,
.fas {
  line-height: 36px;
}

.about-container {
  margin-bottom: 24px;
}

.about-container h3 {
  margin-bottom: 12px;
  margin-left: 12px;
}

.about-container p {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 650px) {
  .about-container p {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.authenticated {
  float: right;
  margin-right: 24px;
}

.success {
  background-color: #3dec55;
  font-size: 18px;
  padding: 2px;
  line-height: 24px;
  text-align: center;
}

.error {
  background-color: crimson;
  font-size: 18px;
  padding: 4px;
  line-height: 48px;
  text-align: center;
}

.close {
  cursor: pointer;
  margin-left: 24px;
}

.close:hover {
  cursor: pointer;
}
