::-webkit-scrollbar {
  width: 20px;
  background: #343434;
  /* visibility: hidden; */
}

/* ::-webkit-scrollbar:hover {
  visibility: visible;
} */

::-webkit-scrollbar-thumb:hover {
  width: 24px;
  /* visibility: visible; */
}

::-webkit-scrollbar-thumb {
  /* visibility: hidden; */
  background-color: #055e68;
  border-radius: 48px;
}

body {
  background-color: #1b262c;
  color: white;

}

.main {
  margin-left: 200px;
  margin-bottom: 24px;
}

/* * {
  overflow: hidden;
} */

iframe.videos {
  margin-left: 24px;
}