div.structure {
  margin-bottom: 0;
}
img {
    height: 100px;
    width: 100px;
}

.row { 
  margin: 0 12px; 
  margin-bottom: 24px;
  overflow: visible;
}

.column {
  float: left;
  width: 25%;
  padding: 0 12px;
  overflow: visible;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  display: block;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */
  padding: 24px;
  text-align: center;
  background-color: #1f1a42bf;
  margin-top: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.card:hover {
  background-color: #08032bbf;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.topic {
  margin-left: 12px;
  margin-top: 12px;
}

.topic-name {
  margin-top: 12px;
}