footer {
  border-top: 1px solid #cccccc;
  padding-top: 4px;
  font-size: 20px;
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  margin-left: 200px;
  width: 100%;
  background-color: 152a38;
}
.footer-text {
  text-align: center;
  margin-right: 200px;
}