body {
  display: block;
}

div.content {
  margin: 48px 0 32px 30%;
}

.input {
  height: 50px;
  width: 250px;
  font-size: 24px;
  margin-left: 15%;
  text-align: center;
}

input[type="submit"] {
  margin: 32px auto 48px 200px;
  padding: 12px 36px;
  font-size: large;
}

.credentials {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.username, .email, .signup, .login {
  margin-bottom: 24px;
}