@import "../styles.css";

textarea {
  resize: vertical;
  align-items: center;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 24px;
  width: 60%;
  height: 40%;
}

.feedback-title {
  margin-bottom: 24px;
  text-align: center;
}

input[type="submit"] {
  margin: 32px auto 32px 45%;
  padding: 12px;
}