.videos {
  width: 75%;
  display: flex;
  margin: auto;
}

.new-vid {
  height: 550px;
}

.slick-prev {
  left: 5px;
  z-index: 10;
}

.slick-next {
  right: 5px;
  z-index: 10;
}

/* @media screen and (min-width: 1450px) {
  iframe.videos {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  iframe.videos {
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  iframe.videos {
    margin-left: 8px;
    width: 300px;
    height: 200px;
  }
} */

#favorites {
  color: white;
  opacity: 0.5;
  position: relative;
  left: 85%;
  font-size: 48px;
  overflow: visible;
  height: 18px;
  z-index: 900;
}

#favorites:hover {
  opacity: 1;
  cursor: pointer;
}

h3.selectedplaylist {
  margin-left: 16px;
  margin-top: 0;
}

.playlist-default-message {
  font-size: 72px;
  margin-left: 10%;
}
