.video-container {
  width: 335px;
  height: 225px;
  margin-bottom: 32px;
  display: inline-flex;
  overflow: initial;
}

iframe.videos {
  margin-left: 24px;
  margin-bottom: 16px;
  width: 380px;
  height: 225px;
}

/* @media screen and (min-width: 1450px) {
  iframe.videos {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  iframe.videos {
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  iframe.videos {
    margin-left: 8px;
    width: 300px;
    height: 200px;
  }
} */

#favorites {
  color: white;
  opacity: 0.5;
  position: relative;
  left: 93.5%;
  font-size: 18px;
  top: -2%;
  overflow: visible;
}

#favorites:hover {
  opacity: 1;
  cursor: pointer;
}

h3.selectedplaylist {
  margin-left: 16px;
  margin-bottom: 24px;
}
